/work
/nxs_hash_test
KCU105 top level/.Xil/
*.o
*.exe
KCU105 top level/place directives results.txt
KCU105 top level/vivado.log
KCU105 top level/vivado.jou
KCU105 top level/tight_setup_hold_pins.txt
*.jou
*.log
KCU105 top level/synth_test.tcl
sim_nexus_work_package_in_reversed_bytes.txt
KCU105 top level/usage_statistics_webtalk.xml
KCU105 top level/usage_statistics_webtalk.html
